<a href="https://colab.research.google.com/github/phuocthok18/AI_HKI_2022_2023/blob/main/Tuan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

database
fuzzy
machine learning (regression)
Perceptron
ANN
CNN
RNN

In [ ]:
with open('text.txt', mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')
  # /content/text.txt

In [ ]:
with open('text1.txt', mode='w') as accounts:
  print('7:00 Nguyen Van A', file = accounts)
  print('7:01 Nguyen Thi B', file = accounts)

In [ ]:
with open('text.txt', mode='r') as accounts:
  print(f"{'name':<20}{'score':>20}")
  for record in accounts:
    name, score = record.split()
    print(f"{'name':<20}{'score':>20}")

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
dataframe.head(5)

   Stt  Mssv Ho va ten  Diem Khoa
0    1   NaN       Dat    10  CKM
1    2   NaN       Hoa     8  CKM
2    3   NaN      Linh     9  CLC
3    4   NaN      Long     7  CKM
4    5   NaN      Tien     5  CLC

In [ ]:
import pandas as pd
dataframe = pd.DataFrame() # ham tao khung
dataframe['Name'] = ['Nguyen Van A','Le Thi B']
dataframe['Student ID'] = [20104001,20104002]
dataframe['Score'] = [8.0,9.0]
dataframe

           Name  Student ID  Score
0  Nguyen Van A    20104001    8.0
1      Le Thi B    20104002    9.0

In [ ]:
import pandas as pd
url ='Book1.csv'
df =pd.read_csv(url)
df.head(10)

   Stt  Mssv Ho va ten  Diem Khoa
0    1   NaN       Dat    10  CKM
1    2   NaN       Hoa     8  CKM
2    3   NaN      Linh     9  CLC
3    4   NaN      Long     7  CKM
4    5   NaN      Tien     5  CLC
5    6   NaN      Minh     8  CKD
6    7   NaN      Nhi      7  CKD
7    8   NaN       Lam     9  CLC
8    9   NaN     Thinh    10  CLC
9   10   NaN     Thien     8  CKD

In [ ]:
import pandas as pd
url ='Book1.csv'
df =pd.read_csv(url)
df.iloc[5:8] # loc

   Stt  Mssv Ho va ten  Diem Khoa
5    6   NaN      Minh     8  CKD
6    7   NaN      Nhi      7  CKD
7    8   NaN       Lam     9  CLC

In [ ]:
import pandas as pd
url ='Book1.csv'
df =pd.read_csv(url)
df.iloc[8]
# loc theo vi tri

Stt              9
Mssv           NaN
Ho va ten    Thinh
Diem            10
Khoa           CLC
Name: 8, dtype: object

In [ ]:
import pandas as pd
url ='Book1.csv'
df =pd.read_csv(url)
df = df.set_index(df['Diem'])
df.loc[10]
# loc diem 10 trong cot diem

      Stt  Mssv Ho va ten  Diem Khoa
Diem
10      1   NaN       Dat    10  CKM
10      9   NaN     Thinh    10  CLC

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
dataframe[dataframe['Khoa']=='CKM'].head(3)
# and & hoac or |

   Stt  Mssv Ho va ten  Diem Khoa
0    1   NaN       Dat    10  CKM
1    2   NaN       Hoa     8  CKM
3    4   NaN      Long     7  CKM

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
dataframe[(dataframe['Khoa']=='CKM') & (dataframe['Diem'] >=5)].head(3)

   Stt  Mssv Ho va ten  Diem Khoa
0    1   NaN       Dat    10  CKM
1    2   NaN       Hoa     8  CKM
3    4   NaN      Long     7  CKM

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
print('Diem nho nhat', dataframe['Diem'].min())
print('Diem lon nhat', dataframe['Diem'].max())
print('Diem trung binh', dataframe['Diem'].mean())
print('Diem tong', dataframe['Diem'].sum())
print('Dem so cot diem', dataframe['Diem'].count())
dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

Diem nho nhat 5
Diem lon nhat 10
Diem trung binh 8.1
Diem tong 81
Dem so cot diem 10

CLC    4
CKM    3
CKD    3
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
dataframe.drop(['Khoa'],axis =1).head(10)

   Stt  Mssv Ho va ten  Diem
0    1   NaN       Dat    10
1    2   NaN       Hoa     8
2    3   NaN      Linh     9
3    4   NaN      Long     7
4    5   NaN      Tien     5
5    6   NaN      Minh     8
6    7   NaN      Nhi      7
7    8   NaN       Lam     9
8    9   NaN     Thinh    10
9   10   NaN     Thien     8

In [ ]:
import pandas as pd
url ='Book1.csv'
dataframe =pd.read_csv(url)
dataframe.groupby(['Diem','Khoa']).count()

           Stt  Mssv  Ho va ten
Diem Khoa
5    CLC     1     0          1
7    CKD     1     0          1
     CKM     1     0          1
8    CKD     2     0          2
     CKM     1     0          1
9    CLC     2     0          2
10   CKM     1     0          1
     CLC     1     0          1

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
# dataframe[(dataframe['Medal']=='Gold') & (dataframe['NOC'] == 'USA')]
# data['NOC'].unique()
data[(data['Medal']=='Gold') & (data['NOC'] == 'USA') & (data['Year'] >=2000) & (data['Event gender'] == 'M')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2028,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
2039,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
2044,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
2048,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
2056,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
2299,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
2300,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
# dataframe[(dataframe['Medal']=='Gold') & (dataframe['NOC'] == 'USA')]
# data['NOC'].unique()

data.groupby(['Medal','NOC']).count()

            Year  City  Sport  Discipline  Event  Event gender
Medal  NOC
Bronze AUS     3     3      3           3      3             3
       AUT    70    70     70          70     70            70
       BEL     3     3      3           3      3             3
       BLR     3     3      3           3      3             3
       BUL     3     3      3           3      3             3
...          ...   ...    ...         ...    ...           ...
Silver TCH     8     8      8           8      8             8
       UKR     1     1      1           1      1             1
       URS    57    57     57          57     57            57
       USA    80    80     80          80     80            80
       YUG     3     3      3           3      3             3

[112 rows x 6 columns]